/* app 
* {
    -ms-touch-action: auto!important;
    -ms-content-zooming: auto!important;
}*/

/* font */

@font-face {
	font-family: "Roboto Light";
	src: url("framework7/fonts/Roboto-Light.ttf") format("truetype");
	font-family: "Roboto Regular";
	src: url("framework7/fonts/Roboto-Regular.ttf") format("truetype");
	font-family: "Roboto Medium";
	src: url("framework7/fonts/Roboto-Medium.ttf") format("truetype");
	font-family: "Roboto Bold";
	src: url("framework7/fonts/Roboto-Bold.ttf") format("truetype");
}
.version{
	text-align: center;
	padding: 20px;
}

.view-pdf{
	color: white;
    position: relative;
    z-index: 9;
    width: 200px;
    text-align: center;
    margin: 0 auto;
    top: 60%;
}
.floating-button{
	bottom:26px!important;
}
.notifications{
	margin: 0!important;
}
.listCond{
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.notification-item .item-inner {
	display: block;
	margin: 5px;
}
.tab-link-highlight{
	display: none;
}
#searchportariahome-cont{
	margin-bottom: 50px;
}
.selecionarespaco{
	top: 0!important;
}
.picker-modal-inner{
	height: calc(100% - 46px)!important;
}
.picker-header, .picker-footer{
	display: none!important;
}
.submenuhome{
	top: 56px;
	background: #3F67CF!important;
}
.content-block-title{
	color: black!important;
	font-size: 16px!important;
	height: 40px;
}
.border-top-tit{
	border-top: solid 5px #4caf50;
}
.navbar-fixed .toolbar {
	top: 56px;
}
.button-full{
	margin: 50px 15% 0;
}
.button-full-margin{
	margin: 0 10px 500px!important;
}
.pageportariahome{
	width: 33.33vw;
	height: 100vh;
	float: left;
	position: relative;
	float: left;
}
.pageportariahomecentro{
	height: 60vh!important;
}
.submenuhomealertavisitantes{
	position: relative!important;
	top: 0px!important;
}
.alertavisitanteshome{
	padding-top: 0px!important;
}
ul#alertavisitanteshome-cont {
    padding-bottom: 130px;
}
.comunportariahome{
	height: 100vh;
}
.menuhomeportaria{
	display: none;
}
.titpageportariahome{
	widows: 100%;
	height: 48px;
	padding-top: 36px;
}
.bg-subnavbar{
	background: #2196f3!important;
	top: 56px;
}
.list-block .item-title{
	max-width: 60vw!important;
}
.list-block .item-after{
	top: 5px;
	position: relative;
}
.list-block .swipeout-content{
	width: 100%;
}
.no-arrow{
	background: none!important;
	padding-right: 0!important;
}
.video { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
  	background-size: cover;
}
.stopfade 
.item-title-visitante{
	color: rgba(0, 0, 0, 0.65);
}
.item-media-visitante{
	border-radius: 0!important;
}
.inserirvisitante{
	/*height: 1500px;*/
}
.inserirvisitantehora{
	display: none;
}
.item-content-acesso{
	padding-left: 10px!important;
}
.forminserirvisitanteacesso{
	display: none;
}
#textinserirvisitanteacessoentrada{
	
}
.no-margin-auto{
	margin: 0 auto!important;
}
.no-margin{
	margin: 0!important;
}
.padding-bottom10{
	padding-bottom: 10px!important;
}
.item-title-veiculo{
	text-transform: uppercase;
}
.ks-facebook-card .card-header {
	background: white;
}
.ks-facebook-card .card-content img, .card-content-cont img {
	top: 50%;
	position: absolute;
	transform: translateY(-50%);
}
.ks-facebook-edit{
	position: absolute;
    top: 10px;
    right: 10px;
}
.ks-facebook-edit i{
	color: gray;
}
.card-content-cont i {
	color: white;
	position: absolute;
	top: 50%;
	z-index: 9;
	left: 50%;
	margin-top: -40px;
	margin-left: -20px;
}

.blocolistcomunicadoli, .domiciliolistcomunicadoli, .moradorlistcomunicadoli, .marcalistli, .modelolistli{
	display: none;
}
.preloader-indicator-overlay {
	opacity: 0.2!important;
	background: black!important;
}
.invisivel{
	display: none!important;
}
.toolbar.tabbar {
	background: #4caf50!important;
}
a.tab-link.active{
	border-bottom: solid 3px rgba(255, 255, 255, 0.5);
}
.semregistro {
	padding: 30px;
	text-align: center;
	width: 100%;
	list-style: none;
	font-size: 16px;
}
.popover {
    width: 250px!important;
    top: 55px!important;
    right: 0px!important;
    left: initial!important;
}
.buttons-row{
	width: 100%;
}
.button{
	border-radius:0!important;
}
.nomargin {
	margin: 0px!important;
}
.nopadding {
	padding: 0px!important;
}
.nolink{
	color: black!important;
}
.font13{
	font-size: 13px;
}
.white{
	color: #fff!important;
}
.navbar-inner .center{
	left: inherit!important;
}
.navbar-inner{
	background: #009688;
}
.navbar .center, .subnavbar .center{
	font-size: 15px!important;
}
.icon .badge{
	border-radius:11px;
	top: 27px!important;
}
.media-list {
	margin: 0 0 80px!important;
	}
.menu-left{
	padding-top: 150px!important;
}
textarea {
	padding-top: 0px!important;
}
/* cadastro teste */
.text-cadastro{
	padding: 0 16px!important;
}
.text-cadastro p {
    font-size: 14px;
    text-align: justify;
}
/* whatsapp */
.whatsapp{
	display: none!important;
	bottom: 90px!important;
	position: absolute!important;
}
.whatsapp .fa-whatsapp {
	padding-top: 14px;
	position: relative;
	text-align: center;
	display: block;
}
.visivel{
	display: block!important;
}
.checkbox{
	margin-top: 0!important;
	overflow: visible!important;
}
.item-checkbox{
	margin-top: 15px;
}
.item-checkbox-text{
	margin-top: 19px;
}
/* botao input file */
.custom-file-input{
	width: 100%!important;
	opacity: 0;
	min-height: 52px;
	line-height: 52px;
	position: absolute;
	z-index: 9999999;
}
.img-preview{
	width: 100%;
	overflow: hidden;
	min-height: 50px;
	border: 1px dashed #ccc;
}
.img-preview img{
	border: none!important;
	width: 100%;
	height: auto;
	}
.img-preview::before {
	content: 'Clique para editar';
	font-size: 10pt;
	cursor: pointer;
	margin: 10px 2px;
	position: absolute;
	width: calc(100% - 15px);
	text-align: center;
	background: white;
	opacity: 0.8;
	padding: 5px;
}
/* input pdf */
.pdf-preview{
	width: 100%;
	overflow: hidden;
	min-height: 50px;
	border: 1px dashed #ccc;
}
.pdf-preview img{
	border: none!important;
	width: 100%;
	height: auto;
}
.custom-pdf-input::-webkit-file-upload-button {
	width: 100%!important;
	opacity: 0;
	height: 52px;
	line-height: 52px;
	position: absolute;
	z-index: 9999999;
}

.custom-pdf-input::before, .custom-pdf-input:active::before {
	content: 'Clique para editar';
	font-size: 10pt;
	cursor: pointer;
	margin: 14px 2px 10px;
	position: absolute;
	width: calc(100% - 15px);
	text-align: center;
	background: white;
	opacity: 0.8;
	padding: 5px;
}

/* boletos */
.iframe-boleto{
	width: 100%!important;
	height: 100%!important;
	border: none;
}
.co-login-section>div:first-child {
    display: none;
}
.boletos-100{
	height: 100%;
}

/* list video */
.zoomVideo{
	color: white;
    position: absolute;
    top: 50%;
    z-index: 9;
    left: 50%;
    margin-top: -25px;
    margin-left: -20px;
}
/* video full */
.video-full {
	background: black;
	padding: 0!important;
}
.video-full iframe{
	width: 100%!important;
	height: 100%!important;
}
.toolbar.toolbar-hidden{
	-webkit-transform: translate3d(0, 100%, 0)!important;
    transform: translate3d(0, 100%, 0)!important;
}
.floating-top{
color: #fff;
  position: absolute;
  right: 16px;
  top: 16px;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  z-index: 1500;
  overflow: hidden;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.floating-top2{
color: #fff;
  position: absolute;
  right: 80px;
  top: 16px;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  z-index: 1500;
  overflow: hidden;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
/* color */
.bg-green{
	background: #4caf50!important;
}
/* barra de carregamento */
.progress {
    height: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #f5f5f5;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}
.progress-bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: #337ab7;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease;
}
.progress-bar-success {
    background-color: #5cb85c;
}
/* login */
.login-screen-content .login-screen-title{
	margin: 20px auto!important;
}
.loginform ul{
	padding: 10px;
}
.page-login{
	padding: 10px;
	background-color: #009688;
	/*background-image: url("../images/bg-aptohome.png");
	background-size: cover;*/
}
.page-login input{
	color: #000!important;
	border-bottom: solid 1px #ccc!important;
}
.login-but{
	width: 100%;
	height:40px;
}
.login-logo img{
	width: 60%;
}
.login-logo {
	text-align: center;
}
.login-esqueceu{
	width: 80%;
	margin: 0 auto;
	text-align: center;
	padding: 10px;
}
.loginform{
	background: #fff;
}

/* list row*/
.no-radius{
	border-radius: 0!important;
}
.list-style-none{
	list-style: none;
	padding: 0;	
}
#livroocorrencias-cont{
	list-style: none;
	padding: 0;
}
.content-block{
	padding: 0!important;
	margin: 0 0 80px;
}
.list-block {
	margin: 0 0 80px;
}
#internal-page-list{
	position: relative;
}

.list-row-azul{
border-bottom: 1px solid #DDD;
padding: 5px 0;
}

.list-row{
	width: 100%;
	color: #254B9F;
	min-height: 105px;
}
.apto-num{
	float: left;
	width: 20%;
	text-align: center;
	font-weight: bold;
	padding-top: 13%;
}
.apto-text{
	width: 60%;
	float: left;
}
.apto-text span{
	font-weight: bold;
	display: block;
	padding-bottom: 5px;
}
.apto-photo{
	width: 20%;
	float: left;
	text-align: center;
	padding-top: 13%;
}
.apto-photo a{
	left: 10px;
	position: relative;
}
.apto-photo i{
	color: #007BBE;
}
.item-media{
	width: 50px;
	height: 50px;
	overflow: hidden;
	display: block!important;
	border-radius: 100%;
	margin-top: 14px;
	padding: 0!important;
}

/******************** interfone **********************/

.item-media-call{
	width: 100px;
	height: 100px;
	overflow: hidden;
	display: block;
	border-radius: 100%;
	padding: 0!important;
	margin: 30px auto 20px;
}
.item-media-call img{
    min-width: 100px;
    max-height: 100px;
    position: relative;
    overflow: hidden;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.item-title-call{
    min-width: 0;
    -webkit-box-flex: 1;
    -webkit-flex-shrink: 1;
    -ms-flex: 0 1 auto;
    flex-shrink: 1;
    white-space: nowrap;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    text-align: center;
    color: white;
    font-size: 25px;
    margin: 0 20px;
}
.item-text-call{
font-size: 14px;
    color: white;
    line-height: 20px;
    position: relative;
    overflow: hidden;
    max-height: 40px;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    text-align: center;
}
.interfonecont{
	background-color: black;
}
.interfonecont .page-content .list-block{
    z-index: 9;
    position: relative;
}
#interfonecontvideo video{
 position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translateX(-50%) translateY(-50%);
    z-index: 0;
}
.call-action-accept-but{
position: fixed;
    bottom: 110px;
    left: 50%;
    transform: translateX(-50%);
}
.call-action-but{
position: fixed;
    bottom: 50px;
    transform: translateX(-50%);
    left: 50%;
    width: 202px;
}
.call-action-receve-but{
	position: fixed;
    bottom: 50px;
    left: calc(50% - 110px);
}
.call-action-but span:last-child {
    margin-right: 0;
}
.call-action-but span{
	margin-right: 20px;
}
.call-action-receve-but span{
	margin-right: 20px;
}
.call-action-receve-but span:last-child {
    margin-right: 0;
}
.bg-blue-call:before{
	color: blue;
}
.bg-red-call:before{
	color: red;
}
.bg-green-call:before{
	color: green;
}
.bg-white-call:before{
	color: white;
}
.fa-stack-2x{
	font-size: 2.5em;
}
.fa-stack{
	width: 2.5em;
    height: 2.5em;
    line-height: 2.5em;	
}


.alertaveiculohome{
	position: absolute;
	top: 55px;
	left: 15px;
}
.padding-left-15{
	padding-left: 15px;
}
.panico{
	background: #f44336;
	color: white!important;
}
.searchbar-found ul:before{
	height: 0;
}
.searchbar-found ul:after{
	height: 0;
}
.card-header:before {
	content: '';
	position: absolute;
	left: 0;
	bottom: auto;
	right: auto;
	top: 0;
	height: 1px;
	width: 100%;
	background-color: #e1e1e1;
	display: block;
	z-index: 15;
	-webkit-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
}

/* insert ocorrência */
.file-button {
   position:relative;
   overflow:hidden;
}
.file-button input {
  font-size: 10000px;
  position: absolute;
  left:0;
  top:0;
  opacity:0;
}
/* menu cadastro */
.item-cadastros{
	display: block;
	width: 100%;
}
.list-cadastros{
	border-bottom: solid #D6D3F5 1px;
	padding: 20px 0;
	text-align: center;
}
.item-cadastros i{
	margin-bottom: 10px;
	color: #007BBE!important;
}
/* menuhome */

#menuhome{
	width: 100%;
}
#menuhome ul li {
	width: 50%;
	display: inline;
	height: 145px;
	position: relative;
	padding-top: 30px;
	float: left;
	text-align: center;
}
#menuhome ul {
	width: 100%;
	position: relative;
}
#menuhome ul li{
    border-right: solid 1px #D6D3F5;
    border-bottom: solid 1px #D6D3F5;
}
#menuhome ul li a{
	display: block;
    color: #254B9F;
    height: 145px;
	top: -30px;
	position: relative;
}
#menuhome ul li a i{
    padding-bottom: 10px;
    padding-top: 30px;
}

#redesSociais i h5 {
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  top: 3px;
  position: relative;
}
/* pagamentos */
.align-icon-pagamentos{
	top: 2px!important;
}
.status-badge{
	background: none!important;
	padding-right: 0px!important;
	padding-top: 3px!important;
}
.col-card{
	padding-right: 16px;
    padding-top: 8px;
}
.card-wrapper{
	height: 160px;
    top: 35px;
    position: fixed;
    z-index: 9;
    width: 100%;
    padding-bottom: 20px;
    background: white;
}
#formCard{
	padding-top: 160px;
    position: relative;
    z-index: 0;
}
.installmentsli{
	display: none;
}
/* profile */
.edit_profile{
	margin: 0 auto;
}
.profile{
	height: 150px;
}
.infoprofile{
	width: 100%;
	margin-left: -10px;
	padding: 10px;
	color: white;
}
.profile_foto{
	width: 60px;
	height: 60px;
	border-radius: 100%;
	margin: 0 auto;
	overflow: hidden;
}
.profile_nome{
	font-size: 16px;
	text-align: center;
	width: 100%;
}
.profile_detalhes{
	font-size: 12px;
	text-align: center;
	width: 100%;
}
.profile_foto img{
	min-height: 60px;
	width: 100%;
}
.edit_morador{
	width: 100%;
}
/* menu left */
.list{
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

.list li{
	height: 45px;
	line-height: 45px;
	border-bottom: solid 1px #D6D3F5;
}

.list li a{
	padding-left: 10px;
	display: block;
}

.list li a i{
	padding-right: 10px;
}

/* submenu */
.submenu{
	width: 100%;
	height: 44px;
	background-color: #007BBE;
	position: fixed;
}
.submenu ul li {
	width: 20%;
	display: inline;
	height: 44px;
	position: relative;
	padding-top: 12px;
	float: left;
	text-align: center;
}
.submenu ul {
	position: relative;
	height: 44px;
}
.submenu ul li a{
	display: block;
}
.submenu ul li a i{
    padding-bottom: 0px;
    color: #fff;

}
/* lista info */
.ks-facebook-avatar {
	width: 34px;
	height: 34px;
	overflow: hidden;
	border-radius: 100%;
}
.ks-facebook-number {
	height: 34px;
	padding: 5px;
    margin-right: 10px;
	overflow: hidden;
	font-size: 14px!important;
	font-weight: bold;
	float: left;
	background: #3f51b5;
	text-align: center;
	line-height: 33px;
	color: white;
}
.facebook-date{
	font-size: 13px;
	color: #8e8e93;
}
.ks-facebook-avatar img {
	min-width: 34px;
	min-height: 34px;
}
.card-content {
	overflow: hidden;
	height: 230px;
}
.card-content-cont {
	position: relative;
	margin-bottom: -6px!important;
	display: block;
	overflow: hidden;
	height: 250px;
	padding-bottom: 7px;
}
.list-block-cont {
	margin: 0!important;
}
.list-block-cont ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
.card-cont {
	margin: 0!important;
	position: relative;
	border-radius: none!important;
	box-shadow: none!important;
}

/* video full */
.video-full {
	background: black;
}
.video-full iframe{
	width: 100%!important;
	height: 100%!important;
}

/* mapa  */

 .maps-size {
	height: calc(100vh - 250px);
	width: 100%;
	position: relative;
  }
.buttonsalerta{
}
.iconMarker{
  box-sizing:border-box;
  background: #05F24C;
  box-shadow: 2px 2px 4px #333;
  border:5px solid #346FF7;
  height: 10px;
  width: 10px;
  border-radius: 10px;
  -webkit-animation: pulse 1s ease 1s 3;
  -moz-animation: pulse 1s ease 1s 3;
  animation: pulse 1s ease 1s 3;
  }
.totaldistancia{
	height: 40px;
	line-height: 40px;
	text-align: center;
	top: 55px;
	width: 100%;
	z-index: 9;
	color: white;
	font-size: 14px;
}
.totaldistanciahome {
	height: 40px;
	line-height: 40px;
	text-align: center;
	top: 55px;
	width: 100%;
	z-index: 9;
	color: white;
	font-size: 14px;
	margin-bottom: 5px;
}
.embed-video {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}
.embed-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* notification */
.notifications .close-notification {
    width: 19px;
    height: 19px;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org…'%20x1%3D'14.1'%20y1%3D'4.9'%20x2%3D'4.9'%20y2%3D'14.1'%2F%3E%3C%2Fsvg%3E");
    background-position: center top;
    background-repeat: no-repeat;
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
    position: relative;
}
.notifications .item-title {
	padding: 0!important;
}
/* agendamento */
.marcado{
	background: #f44336;
	color: white;
}
.legendaespaco{
	width: 20px;
	height: 20px;
	float: left;
	margin-right: 10px;
	border-radius: 100%;
}
.legendaespacotext{

}
.espacoinserir{
	width: 65%!important;
	margin-left: 0!important;
	left: 0px;
	position: relative;
	float: left;
	color: #212121!important;
	font-size: 16px!important;
}

/* banner */
.banner-cont{
	padding-top: 6px;
}
.img-banner a img{
	width: 100%;
	margin-bottom: -7px!important;
}
.banner-full{
	width: 100%;
	height: 100%;
}
.banner-full a{
	width: 100%;
	display: block;
}
.banner-full a img{
	width: 100%;
}
.img-banner a {
	display: block;
	/*margin-bottom: -6px!important;*/
	padding: 2px;
	height: 180px;
}
.img-banner a div {
	display: block;
    text-align: center;
    padding: 5px;
    text-overflow: ellipsis;
    overflow-x: hidden;
    white-space: nowrap;
    font-size: 12px;
position: absolute!important;
    width: calc(100% - 14px);
    bottom: 0;
}
.img-banner {
	width: 33.333%;
	float: left;
	-moz-user-select: none;        
	-webkit-user-select: none;        
	user-select: none;
}

/*.modal-overlay-visible{
	visibility: hidden!important;
	opacity: 0!important;
}*/
@media (min-height: 630px) and (min-width: 630px){

	.maps-size {

	}
	.card-content {
		min-height: 350px!important;
	}
	.card-content-cont{
		min-height: 400px!important;
	}
	.card-content-cont i{
		font-size: 4em!important;
	}
	.tablet{
		margin: 0 15%!important;
	}
	.button-full{
		margin: 50px 0 0!important;
	}
	.button-full-margin{
		margin: 0 0 500px!important;
	}
	.media-list {
	    margin-bottom: 80px!important;
	}
	.img-banner a{
		height: 260px;
	}
}

/* help */
.swiper-container {
  height: 100%;
}
.swiper-slide {
  background:#000;
}
.swiper-slide span {
  text-align:center;
  display:block;
  /*margin:20px;*/
  font-size:21px;
}
.swiper-slide img{
	width: 100%;
}

/* mic */
.si-wrapper {
	display: inline-block;
	position: relative;
}

.si-wrapper input {
	margin: 0;
}

.si-wrapper button {
	position: absolute;
	top: 0;
	right: 0;
	height: 18px;
	width: 18px;
	margin: 0;
	border: 0;
	padding: 0;
	background: none;
	font: 0/0 a;
}

.si-mic,
.si-mic:after,
.si-holder,
.si-holder:before,
.si-holder:after {
	position: absolute;
	background: #333;
}

/* Microphone icon */
.si-mic {
	display: block;
	height: 25%; /* 8px / 32px */
	top: 9.375%; /* 3px / 32px */
	left: 37.5%; /* 12px / 32px */
	right: 37.5%; /* 12px / 32px */
	-webkit-border-radius: 99px 99px 0 0;
	-moz-border-radius: 99px 99px 0 0;
	border-radius: 99px 99px 0 0;
}

.si-mic:before,
.si-mic:after,
.si-holder {
	-webkit-border-radius: 0 0 99px 99px;
	-moz-border-radius: 0 0 99px 99px;
	border-radius: 0 0 99px 99px;
}

.si-mic:before {
	position: absolute;
	z-index: 1;
	content: '';
	width: 150%; /* 12px / 8px */
	height: 137.5%; /* 11px / 8px */
	top: 100%; /* 8px / 8px */
	left: -25%; /* -2px / 8px */
	background: #fff;
}

.si-mic:after {
	z-index: 1;
	content: '';
	width: 100%; /* 10px / 10px */
	height: 100%; /* 10px / 10px */
	top: 110%; /* 11px / 10px */
	left: 0;
}

.si-holder {
	display: block;
	height: 40.625%; /* 13px / 32px */
	width: 50%; /* 16px / 32px */
	left: 25%; /* 8px / 32px */
	top: 37.5%; /* 12px / 32px */
}

.si-holder:after {
	content: '';
	width: 66.666%; /* 8px / 16px */
	height: 18.182%; /* 2px / 13px */
	bottom: -30.769%; /* -4px / 13px */
	left: 16.667%; /* 2px / 16px */
}

.si-holder:before {
	content: '';
	width: 33.333%; /* 4px / 16px */
	height: 27.273%; /* 3px / 13px */
	top: 92.308%; /* 12px / 13px */
	left: 33.333%; /* 4px / 16px */
}

/* previsao mare */
#conteudo-box1{
	padding: 10px;
}
.resumo_pagina_2{
	color: gray;
	font-size: 14px;
	padding: 5px 5px 10px;
	
}
.linha_dia{
    clear: both;
    padding: 2px;
    border-bottom: 1px solid #666;
    margin: 0 0 6px 0;
}
.celula_dia {
    font-weight: bold;
    font-size: 14px;
    color: #2196f3;
    padding: 5px;
    margin: 0;
    background: #ececec;
    text-align: center;
}
.celula_mare_baixa {
    background: #eee;
}
#previsaotempocont-cont{
	    padding: 10px 10px 0;
}
.celula_mare_baixa, .celula_mare {
    font-size: 14px;
    color: #000;
    padding: 5px;
    margin: 0;
    background: #fff;
    border-top: 1px solid #ccc;
    text-align: center;
}
.celula_astros {
    font-size: 12px;
    color: #000;
    background: #fff;
    float: left;
    width: 100%;
    border-bottom: 1px solid #333;
    margin-bottom: 4px;
    padding: 5px 0 8px;
    text-align: center;
}
#fonte a {
    font-size: 12px;
}
#fonte{
    font-size: 12px;
}
.lua {
    position: relative;
    width: 25px;
    height: 25px;
    overflow: hidden;
    float: left;
    padding: 0;
    margin: -2px 0 0 12px;
    top: -154px;
}
.imagem_lua {
    position: absolute;
    width: 100px;
    height: 25px;
}

/* previsao tempo */
.previsaotitle {
    padding: 5px 10px;
    border-left: solid 10px #009688;
    color: #000000;
    margin-bottom: 10px;
    margin-left: 10px;
}
@font-face{
	font-family:icomoon;
	src:url(fonts/icomoon.eot?rmoq7t);
	src:url(fonts/icomoon.eot?rmoq7t#iefix) format('embedded-opentype'),url(fonts/icomoon.ttf?rmoq7t) format('truetype'),url(fonts/icomoon.woff?rmoq7t) format('woff'),url(fonts/icomoon.svg?rmoq7t#icomoon) format('svg');
	font-weight:400;
	font-style:normal
}
.icon-temp:before{content:"\ea28"}.icon-darr:after,.icon-darr:before{content:"\ea26"}.icon-success:before{content:"\ea47"}.icon-wind-arrow.n:before,.icon-wind-arrow:before{content:"\ea49"}.icon-wind-arrow.nne:before{content:"\ea4a"}.icon-wind-arrow.ne:before{content:"\ea4b"}.icon-wind-arrow.ene:before{content:"\ea4c"}.icon-wind-arrow.e:before{content:"\ea4d"}.icon-wind-arrow.ese:before{content:"\ea4e"}.icon-wind-arrow.se:before{content:"\ea4f";color:black;}.icon-wind-arrow.sse:before{content:"\ea50"}.icon-wind-arrow.s:before{content:"\ea51"}.icon-wind-arrow.ssw:before{content:"\ea52"}.icon-wind-arrow.sw:before{content:"\ea53"}.icon-wind-arrow.wsw:before{content:"\ea54"}.icon-wind-arrow.w:before{content:"\ea55"}.icon-wind-arrow.wnw:before{content:"\ea56"}.icon-wind-arrow.nw:before{content:"\ea57"}.icon-wind-arrow.nnw:before{content:"\ea58"}.w1:before{content:"\e919";color:#fec10e}.w1n:before{content:"\e91a";color:#fff78f}.w2:before{content:"\e91b";z-index:2}.w2:after{content:"\e91c";color:#fec10e}.w2n:before{content:"\e91d";z-index:2}.w2n:after{content:"\e91e";color:#fff78f}.w3:before{content:"\e91f";z-index:2}.w3:after{content:"\e920";color:#fec10e}.w3n:before{content:"\e921";z-index:2}.w3n:after{content:"\e922";color:#fff78f}.w4:before,.w4n:before{content:"\e923"}.w5:before,.w5n:before{content:"\e924"}.w5:after,.w5n:after{content:"\e925";color:#7edaff}.w6:before,.w6n:before{content:"\e926"}.w6:after,.w6n:after{content:"\e927";color:#7edaff}.w7:before,.w7n:before{content:"\e928"}.w7:after,.w7n:after{content:"\e929";color:#7edaff}.w8:before,.w8n:before{content:"\e92a"}.w8:after,.w8n:after{content:"\e92b";color:#7edaff}.w9:before,.w9n:before{content:"\e92c"}.w9:after,.w9n:after{content:"\e92d";color:#fec10e}.w10:before,.w10n:before{content:"\e92e"}.w10:after,.w10n:after{content:"\e92f";color:#fec10e}.w10 i:before,.w10n i:before{content:"\e930";color:#7edaff}.w11:before,.w11n:before{content:"\e931"}.w11:after,.w11n:after{content:"\e932";color:#f37121}.w11 i:after,.w11n i:after{content:"\e933";color:#7edaff}.w12:before,.w12n:before{content:"\e934"}.w12:after,.w12n:after{content:"\e935";color:#7edaff}.w12 i:before,.w12n i:before{content:"\e936"}.w13:before,.w13n:before{content:"\e937"}.w13:after,.w13n:after{content:"\e938";color:#7edaff}.w13 i:before,.w13n i:before{content:"\e939"}.w14:before,.w14n:before{content:"\e93a"}.w14:after,.w14n:after{content:"\e93b";color:#7edaff}.w14 i:before,.w14n i:before{content:"\e93c"}.w15:before,.w15n:before{content:"\e93d"}.w15:after,.w15n:after{content:"\e93e";color:#7edaff}.w15 i:before,.w15n i:before{content:"\e93f"}.w16:before,.w16n:before{content:"\e915"}.w16:after,.w16n:after{content:"\e916";color:#7fd8ff}.w16 i:before,.w16n i:before{content:"\e917"}.w16 i:after,.w16n i:after{content:"\e918";color:#fac40c}.w17:before,.w17n:before{content:"\e944"}.w17:after,.w17n:after{content:"\e945";color:#f37121}.w17 i:before,.w17n i:before{content:"\e946";color:#7edaff}.w17 i:after,.w17n i:after{content:"\e947"}.w18:before,.w18n:before{content:"\e948"}.w19:before,.w19n:before{content:"\e949"}.w20:before,.w20n:before{content:"\e94a"}.w21:before,.w21n:before{content:"\e94b"}.w22:before,.w22n:before{content:"\e94c"}.w22:after,.w22n:after{content:"\e94d";color:#fac40c}.w23:before,.w23n:before{content:"\e94e"}.w23:after,.w23n:after{content:"\e94f";color:#f37121}.w24:before,.w24n:before{content:"\e950"}.w25:before,.w25n:before{content:"\e951"}.w26:before,.w26n:before{content:"\e952"}.w27:before,.w27n:before{content:"\e953"}.w28:before,.w28n:before{content:"\e954"}.w28:after,.w28n:after{content:"\e955";color:#fac40c}.w29:before,.w29n:before{content:"\e956"}.w29:after,.w29n:after{content:"\e957";color:#f37121}.w30:before{content:"\e958";z-index:2}.w30:after{content:"\e959";color:#7edaff}.w30 i:before{content:"\e95a";color:#fac40c}.w30n:before{content:"\e958";z-index:2}.w30n:after{content:"\e959";color:#7edaff}.w30n i:before{content:"\e9d5";color:#fff78f}.w31:before{content:"\e95b";z-index:2}.w31:after{content:"\e95c";color:#7edaff}.w31 i:before{content:"\e95d";color:#fac40c}.w31n:before{content:"\e95b";z-index:2}.w31n:after{content:"\e95c";color:#7edaff}.w31n i:before{content:"\e9d5";color:#fff78f}.w32:before{content:"\e95e";z-index:2}.w32:after{content:"\e95f";color:#7edaff}.w32 i:before{content:"\e960";color:#fac40c}.w32n:before{content:"\e9e7";color:#fff78f}.w32n:after{content:"\e95f";color:#7edaff}.w32n i:before{content:"\e95e";z-index:2}.w33:before{content:"\e961";z-index:2}.w33:after{content:"\e962";color:#7edaff}.w33 i:before{content:"\e963";color:#fac40c}.w33n:before{content:"\e961";z-index:2}.w33n:after{content:"\e962";color:#7edaff}.w33n i:before{content:"\e9e7";color:#fff78f}.w34:before{content:"\e964";z-index:2}.w34:after{content:"\e965";color:#fac40c}.w34 i:before{content:"\e966";color:#7edaff}.w34 i:after{content:"\e967";color:#fac40c}.w34n:before{content:"\e9ce";z-index:2}.w34n:after{content:"\e9cf";color:#fac40c}.w34n i:before{content:"\e9d1";color:#7edaff}.w35:before{content:"\e9d2";z-index:2}.w35:after{content:"\e9d3";color:#7edaff}.w35 i:before{content:"\e9d4";color:#fac40c}.w35n:before{content:"\e9d5";color:#fff78f}.w35n:after{content:"\e9d6";color:#7edaff}.w35n i:before{content:"\e9d7";z-index:2}.w36:before{content:"\e9d8";z-index:2}.w36:after{content:"\e9d9";color:#7edaff}.w36 i:before{content:"\e9da";color:#fac40c}.w36n:before{content:"\e9db";color:#fff78f}.w36n:after{content:"\e9dc";color:#7edaff}.w36n i:before{content:"\e9dd";z-index:2}.w37:before{content:"\e9de";z-index:2}.w37:after{content:"\e9df";color:#7edaff}.w37 i:before{content:"\e9e0";color:#fac40c}.w37n:before{content:"\e9e1";color:#fff78f}.w37n:after{content:"\e9e2";color:#7edaff}.w37n i:before{content:"\e9e3";z-index:2}.w38:before{content:"\e9e4";z-index:2}.w38:after{content:"\e9e5";color:#7edaff}.w38 i:before{content:"\e9e6";color:#fac40c}.w38n:before{content:"\e9e7";color:#fff78f}.w38n:after{content:"\e9e8";color:#7edaff}.w38n i:before{content:"\e9e9";z-index:2}.w39:before{content:"\e9ea";z-index:2}.w39:after{content:"\e9eb";color:#7edaff}.w39 i:before{content:"\e9ec";color:#fac40c}.w39n:before{content:"\e9ed";color:#fac40c}.w39n:after{content:"\e9ee";color:#fff78f}.w39n i:before{content:"\e9ef";color:#7edaff}.w39n i:after{content:"\e9f0";z-index:2}.w40:before{content:"\e9f1";z-index:2}.w40:after{content:"\e9f2";color:#fac40c}.w40n:before{content:"\e9f3";z-index:2}.w40n:after{content:"\e9f4";color:#fff78f}.w41:before{content:"\e9f5";z-index:2}.w41:after{content:"\e9f6";color:#fac40c}.w41n:before{content:"\e9f7";z-index:2}.w41n:after{content:"\e9f8";color:#fff78f}.w42:before{content:"\e9f9";z-index:2}.w42:after{content:"\e9fa";color:#fac40c}.w42n:before{content:"\e9fb";z-index:2}.w42n:after{content:"\e9fc";color:#fff78f}.w43:before{content:"\e9fd";z-index:2}.w43:after{content:"\e9fe";color:#fac40c}.w43n:before{content:"\e9ff";z-index:2}.w43n:after{content:"\ea00";color:#fff78f}.w44:before{content:"\ea01";z-index:2}.w44:after{content:"\ea02";color:#fac40c}.w44n:before{content:"\ea03";z-index:2}.w44n:after{content:"\ea04";color:#fac40c}.w44n i:before{content:"\ea05";color:#fff78f}.w45:before{content:"\ea06";z-index:2}.w45:after{content:"\ea07";color:#fac40c}.w45n:before{content:"\ea08";z-index:2}.w45n:after{content:"\ea09";color:#fff78f}.w46:before{content:"\ea0a";z-index:2}.w46:after{content:"\ea0b";color:#fac40c}.w46n:before{content:"\ea0c";color:#fff78f}.w46n:after{content:"\ea0d";z-index:2}.w47:before{content:"\ea0e";z-index:2}.w47:after{content:"\ea0f";color:#fac40c}.w47n:before{content:"\ea10";z-index:2}.w47n:after{content:"\ea11";color:#fff78f}.w48:before{content:"\ea12";z-index:2}.w48:after{content:"\ea13";color:#fac40c}.w48n:before{content:"\ea14";z-index:2}.w48n:after{content:"\ea15";color:#fff78f}.w49:before{content:"\ea16";z-index:2}.w49:after{content:"\ea17";color:#fac40c}.w49n:before{content:"\ea18";z-index:2}.w49n:after{content:"\ea19";color:#fac40c}.w49n i:before{content:"\ea1a";color:#fff78f}.w1f:before{content:"\ea2b";color:#cfd1d2}.w1f:after{content:"\ea2c";color:#fac40c}.w1fn:before{content:"\ea2d";color:#cfd1d2}.w1fn:after{content:"\ea2e";color:#fff78f}.w2f:before{content:"\ea2f"}.w2f:after{content:"\ea30";color:#cfd1d2}.w2f i:before{content:"\ea31";color:#fac40c}.w2fn:before{content:"\ea32"}.w2fn:after{content:"\ea33";color:#cfd1d2}.w2fn i:before{content:"\ea34";color:#fff78f}.w3f:before{content:"\ea35"}.w3f:after{content:"\ea36";color:#cfd1d2}.w3f i:before{content:"\ea37";color:#fac40c}.w3fn:before{content:"\ea38"}.w3fn:after{content:"\ea39";color:#cfd1d2}.w3fn i:before{content:"\ea3a";color:#fff78f}.w4f:before{content:"\ea59"}.w4f:after{content:"\ea5a";color:#cfd1d2}.w4fn:before{content:"\ea59"}.w4fn:after{content:"\ea5a";color:#cfd1d2}.w7f:before{content:"\ea3b"}.w7f:after{content:"\ea3c";color:#cfd1d2}.w7f i:before{content:"\ea3d";color:#7edaff}.w7fn:before{content:"\ea3b"}.w7fn:after{content:"\ea3c";color:#cfd1d2}.w7fn i:before{content:"\ea3d";color:#7edaff}.w10f:before{content:"\ea3e"}.w10f:after{content:"\ea3f";color:#cfd1d2}.w10f i:before{content:"\ea40";color:#fac40c}.w10f i:after{content:"\ea41";color:#7edaff}.w10fn:before{content:"\ea3e"}.w10fn:after{content:"\ea3f";color:#cfd1d2}.w10fn i:before{content:"\ea40";color:#fac40c}.w10fn i:after{content:"\ea41";color:#7edaff}.w26f:before{content:"\ea42"}.w26f:after{content:"\ea43"}.w26fn:before{content:"\ea42"}.w26fn:after{content:"\ea43"}.w28f:before{content:"\ea44"}.w28f:after{content:"\ea45";color:#cfd1d2}.w28f i:before{content:"\ea46";color:#fac40c}.w28f i:after{content:"\ea3e"}.w28fn:before{content:"\ea44"}.w28fn:after{content:"\ea45";color:#cfd1d2}.w28fn i:before{content:"\ea46";color:#fac40c}.w28fn i:after{content:"\ea3e"}.w94:before,.w94n:before{content:"\e923"}
.thoroughly .row:before {
    content: "";
    z-index: -1;
    position: absolute;
    background: rgba(255,255,255,.07);
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    transform: scaleX(0);
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
}
.thoroughly .date span {
font-size: 14px;
    color: #2196f3;
    font-weight: bold;
    display: inline-block;
}
.thoroughly .row{
	border-bottom: solid 1px lightgray;
	margin-bottom: 5px;
}
.thoroughly a {
    padding: 10px 0 10px 10px;
}
.thoroughly a {
    width: 100%;
    min-height: 42px;
    font-size: 0;
}
.popUp.warn .desc h3, .thoroughly a>div {
    font-size: 14px;
}
.disTable, .weathTable {
    display: table;
    width: 100%;
        color: black;
}
.disTable .col {
    float: none;
    vertical-align: middle;
    line-height: 2;
    display: table-cell;
}
.col_3 {
    width: 25%;
}
.wicon {
    font-size: 30px;
}
.wicon {
    width: 50px;
    height: 30px;
    position: relative;
    display: inline-block;
    font-style: normal;
}
.wicon i, .wicon i:after, .wicon i:before, .wicon:after, .wicon:before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    font-style: normal;
    color: red;
}
.month-picker a.next:after, .month-picker a.prev:after, .ui-datepicker .ui-datepicker-next:after, .ui-datepicker .ui-datepicker-prev:after, .wicon, [class*=" icon-"], [class^=icon-] {
    font-family: icomoon!important;
    speak: none;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    vertical-align: middle;
    color: #2196f3;
}
.iconwrp {
    font-weight: 400;
    font-style: normal;
}
.w3:before {
    content: "\e91f";
    z-index: 2;
}
.iconwrp{
    display: inline-block;
}
.w3:after {
    content: "\e920";
    color: #fec10e;
}
.clc {
    padding-left: 6px;
}
.clc .clcs {
    font-size: 14px;
    color: #2196f3;
    margin-left: -2px;
    display: inline-block;
}
.clc .clcs:before {
    content: "/";
    color: black;
    margin: 0 2px;
}
.clc sup {
    font-size: 16px;
    top: 1px;
}
.thoroughly .dir {
    font-size: 12px;
    color: #2196f3;
    padding-left: 4px;
    position: relative;
    line-height: 1.7;
    font-weight: bold;
}
.thoroughly .icon-wind-arrow {
    color: black;
    font-size: 20px;
    float: left;
}
.icon-wind-arrow.ese:before {
    content: "\ea4e";
    color: black;
}
.thoroughly a>div.details {
    width: 100%;
    font-weight: 300;
    color: #fff;
    display: block;
    font-size: 12px;
}
.thoroughly a>div.details .col.status {
    font-size: 14px;
}
i.icon-direct {
    width: 21px;
    padding-left: 6px;
}
.forecast.windDir, .grph-info, .grphLinks a, .submit input, .success, i.icon-direct {
    text-align: center;
}
.icon-direct:before {
    content: "\e910";
}